# Copy this file to .env and fill in your values
WEATHER_API_KEY=e5662aa8fdcc219ae6d83e1e588ca6fd
PORT=3000

# These are set automatically by Docker — do not change
DB_HOST=postgres
DB_USER=gigshield_user
DB_PASSWORD=gigshield_pass
DB_NAME=gigshield
DB_PORT=5432
